body {
    background-color: #F9F9F9;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#header_lc a {
    color: inherit;
    text-decoration: none;
}

#header_lc a:hover {
    color: lightgray;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -100;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

#bg h2 {
    position: fixed;
    top: 60%;
    left: 0;
    width: 100%;
    z-index: 50;
}

#bg h2 span {
    color: white;
    font: bold 30px/61px 'Open Sans', Sans-Serif;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

header {
    position: fixed;
    width: 100%;
    color: white;
    background-color: #222222;
    height: 50px;
    z-index: 70;
}

.container {
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px
}

.main {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    padding: 100px 5px 5px;
}

.error {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    padding: 20px 5px 5px;
    color: red;
}

#header_lc {
    margin-top: -3px;
    font-size: 30px;
    display: block;
    float: left;
    width: 50%;
}

#header_rc {
    padding-top: 8px;
    display: block;
    float: left;
    width: 50%;
    text-align: right;
}

#row {
    position: fixed;
    width: 100%;
    padding-top: 50px;
    height: 40px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    z-index: 50;
}

.row_lc {
    display: block;
    float: left;
}

.row_rc {
    display: block;
    float: right;
}

#row .signin {
    display: inline-block;
    height: 26;
    width: 100px;
    background-color: white;
    border: 1px solid white;
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#row .signin span {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#row .logged {
    display: inline-block;
    height: 26;
    width: 300px;
    background-color: white;
    border: 1px solid white;
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#row .logged span {
    text-align: right;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#row .signup {
    display: inline-block;
    height: 26px;
    width: 100px;
    background-color: steelblue;
    border: 1px solid lightgrey;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#row .signup span {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#row .geoip {
    display: inline-block;
    height: 26;
    background-color: white;
    border: 1px solid white;
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#row .geoip span {
    text-align: left;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#row .flag {
    text-align: left;
    vertical-align: middle;
    margin-right: 10px;
}

#header_rc label:hover {
    cursor: pointer;
    color: lightgray;
}

#row table {
    border-spacing: 9px;
}

.clear {
    clear: both;
}

/* DROPDOWN MENU */

#row td:hover {
    cursor: pointer;
}

.vertical {
    display: table;
    float: left;
    top: 33%;
    transform: translateY(-33%);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

td:hover .dropdown-content {
    display: block;
}

.config-form {
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
    width: 380px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}



